html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

body {
  position: relative;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  transition: all 250ms linear;
  position: absolute;
}

.polaroid:hover {
  box-shadow: 1px 4px 20px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  transform: translateX(-50%);
  top: 80%;
  left: 50%;
}

.polaroid:nth-child(1) {
  transform: rotate(-10deg);
  top: 100px;
  left: 20%;
  z-index: 1;
}

.polaroid:nth-child(1):hover {
  transform: rotate(0deg);
  z-index: 1;
}

.polaroid:nth-child(2) {
  transform: rotate(15deg);
  top: 140px;
  left: 30%;
  z-index: 3;
}

.polaroid:nth-child(2):hover {
  transform: rotate(0deg);
  z-index: 1;
}

.polaroid:nth-child(3) {
  transform: rotate(30deg);
  top: 90px;
  left: 40%;
  z-index: 2;
}

.polaroid:nth-child(3):hover {
  transform: rotate(0deg);
  z-index: 1;
}
